<%- include('includes/header'); %>
    <h2>Dokument</h2>
    <form method="POST" action="/" class="new-doc">
        <label for="title">Titel</label>
        <input type="text" name="title" value="<%= doc.title %>" />

        <label for="content">Innehåll</label>
        <textarea name="content"><%= doc.content %></textarea>

        <input type="submit" value="Uppdatera" />
    </form>
<%- include('includes/footer'); %>
